<launch>
    <param name="robot_description" textfile="$(find catbot_description)/urdf/diff_catbot_perception.urdf"/>
    <param name="use_gui" value="False" />

    <rosparam file="$(find catbot_control)/config/diff_catbot_kinematics.yaml" command="load"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch" />

    <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model catbot" output="screen" />
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/catbot" args="left_motor_controller right_motor_controller joint_state_controller"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
            <remap from="/joint_states" to="/catbot/joint_states" />
    </node>
    <node name="rviz" pkg="rviz" type="rviz"/>
    <node name="kinematic_model_teleop" pkg="catbot_control" type="kinematic_model" output="screen"/>
    <node name="laser_scan_node" pkg="assignment_2" type="laser_scan_node" output="screen" ns="/catbot" />
</launch>
