<launch>
    <include file="$(find catbot_description)/launch/fourWD_catbot/fourWD_catbot_display.launch" />
    <include file="$(find gazebo_ros)/launch/willowgarage_world.launch" />
    <node    name="teleop_node" pkg="catbot_control" type="teleop_node"/>
    <node    name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model fourWD_catbot" output="screen" />
</launch>
